:root {
  --lightBlue: #95b8d1;
  --mainwhite: #f5f5f5;
  --mainBlack: #333333;
}

body {
  background: var(--lightBlue);
  display: flex;
  justify-content: center;
}

.container {
  background: var(--mainwhite);
  width: 800px;
  height: 350px;
  margin-top: 7rem;
}

h1,
h2 {
  text-align: center;
  color: var(--mainBlack);
}
h3 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--lightBlue);
  text-transform: uppercase;
}
#inp {
  display: block;
  width: 90%;
  height: 2rem;
  margin: auto;
}

#btn {
  display: block;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  color: var(--mainwhite);
  background-color: var(--lightBlue);
  font-size: 1.2rem;
  border: 3px solid steelblue;
  border-radius: 10px;
  width: 130px;
}

#btn:hover {
  background-color: var(--lightBlue);
  color: var(--mainBlack);
  cursor: pointer;
}

#feedback {
  display: none;
  width: 90%;
  height: 2rem;
  margin: auto;
  text-align: center;
  border: 3px solid #e1e1e1;
  padding-top: 0.8rem;
  color: #ff2500;
  background: #ff7f7f;
  font-size: 1.2rem;
}
